.hero-body{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    font-family: "Alan Sans", sans-serif;
}
.contact-body{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
        font-family: "Alan Sans", sans-serif;
}
    
.hero{
    text-align: center;
    margin: 0 auto;
    padding: 36px; 
    
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
    padding: 26px 25px;
}
.hero h1{
    font-size: 96px;
    margin: 0 auto;
    padding: 36px;
    font-weight: bold;
}
.hero h2{
    font-size: 24px;
    font-weight: bold;
}

.cami-photo{
    
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    
}

footer{
    margin: 0 auto;
    padding: 15px;
}