.title-card{
    text-align: center;
    margin: 0 auto;
    padding: 36px; 
}

.title-card p {
    font-size: 30px;
    margin: 0 auto;
    padding: 36px 25px;
}
.title-card h1{
    font-size: 56px;
    margin: 0 auto;
    padding: 36px;
}
.title-card h2{
    font-size: 25px;
}